include CONTRIBUTING.md
include LICENSE
include README.md
include python_boilerplate/py.typed

recursive-include tests *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]

recursive-include docs *.rst conf.py Justfile make.bat *.jpg *.png *.gif
graft python_boilerplate/data
