{% raw %}name: Documentation

on:
  push:
    branches:
      - main

jobs:
  docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.3.1
        with:
          persist-credentials: false
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.10'
      - uses: extractions/setup-just@v1
      - name: Install Dependencies
        run: |
          pip install --upgrade pip
          pip install .[docs]
      - name: Generate Docs
        run: |
          just generate-docs
      - name: Publish Docs
        uses: JamesIves/github-pages-deploy-action@3.7.1
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          BASE_BRANCH: main # The branch the action should deploy from.
          BRANCH: gh-pages # The branch the action should deploy to.
          FOLDER: docs/_build/html/ # The folder the action should deploy.
{% endraw %}